<div class="container">

<div class="content">
  <div class="logo">
    <img src="https://embras.net/assets/images/logo.png">
  </div>
  <div class="cabecalho">
  <div class="titulo">
    <h2> Listagem de Usuários </h2>
  </div>
  <div class="novo">
    <button class="add"> <i class="pi pi-plus" style="font-size: 1rem;"> Novo Usuário </i></button>
  </div>

  </div>

<div class="table">
  <table border="1">
    <thead>
    <th class="nome"> Nome </th>
    <th colspan="2" class="email"> E-mail </th>
    </thead>
    <tbody>
      <td class="nome"> Teste </td>
      <td colspan="2" class="email"> teste <button class="delete_i"><i class="pi pi-trash" style="color: #DC3545"></i></button> </td>
    </tbody>
  </table>
</div>
</div>

</div>
