<div class="container">
  <div class="content">
    <div class="logo">
      <img src="https://embras.net/assets/images/logo.png">
    </div>
    <div class="cabecalho">
      <div class="titulo">
        <h3> Listagem de Usuários </h3>
      </div>
      <div class="novo">
        <p-button label="Novo Usuário" icon="pi pi-plus-circle" (click)="toggleNovoComponent()"></p-button>
      </div>
    </div>
    <div class="table">
      <table border="1">
        <thead>
          <tr>
            <th class="nome">Nome</th>
            <th class="email_th" colspan="1">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td class="nome"> {{ usuario.nome }} </td>
            <td class="email_td" colspan="1">
              <div class="email_dados"> {{ usuario.email }} </div>
              <button class="delete_i" (click)="deleteUsuario(usuario); onDelete()">
                <i class="pi pi-trash" style="color: #DC3545;"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-novo
      *ngIf="mostrarNovoComponent"
      (usuarioAdicionado)="usuarioAdicionado($event)"
      (fecharForm)="fecharForm()">
    </app-novo>

    <app-toast *ngIf="showToast" [duration]="toastDuration"></app-toast>
  </div>
</div>
